# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
.nonsig_venv/
nonsig_venv/

# R
.Rhistory
.RData
.Rproj.user/
.Rproj

# Jupyter
.ipynb_checkpoints/

# Quarto
_cache/

# Ignore notebook results
notebooks/python/results/*

# Ignore saved classifier models
notebooks/python/best_model/*

# Ignore pdf and xml files
data/validation_data/papers/*.pdf
data/validation_data/papers/*.xml

# Ignore pdfs of the papers checked in data/detection_check
data/detection_check/article_pdfs

# Logs and misc
*.log

# Ignore thesis_files (artifact from html version of thesis)
thesis/thesis_files/
