# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
+venv/
venv/

# R
.Rhistory
.RData
.Rproj.user/
.Rproj

# Jupyter
.ipynb_checkpoints/

# Quarto
_cache/
*.html

# Data (ignore all data files except README)
data/raw/*
!data/raw/README.md
data/processed/*

# Logs and misc
*.log
