# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
.nonsig_venv/
nonsig_venv/

# R
.Rhistory
.RData
.Rproj.user/
.Rproj

# Jupyter
.ipynb_checkpoints/

# Quarto
_cache/
*.html

# Ignore notebook results
notebooks/python/results/*

# Ignore saved classifier models
notebooks/python/best_model/*

# Ignore pdf and xml files
data/validation_data/papers

# Logs and misc
*.log
